@use '../util' as *;

.cards {
  display: grid;
  gap: rem(30);
  @include breakpoint-up(medium) {
    grid-template-columns: repeat(2, 1fr);
    
  }
  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: rem(5);
  padding: rem(25);
  text-align: center;
  background-color: var(--dark-card);
  color: var(--dark-text1);
  transition: all 300ms;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: lighten(
      hsl(228, 28%, 10%),
      20%
    );
  }

  &--facebook {
    border-top: rem(5) solid var(--facebook);
  }
  &--twitter {
    border-top: rem(5) solid var(--twitter);
  }
  &--instagram {
    padding-top: rem(30);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: rem(5);
      top: 0;
      left: 0;
      background: linear-gradient(
        135deg,
        var(--instagram-start) 0%,
        var(--instagram-middle) 50.91%,
        var(--instagram-end) 100%
      )
    }
  }
  &--youtube {
    border-top: rem(5) solid var(--youtube);
  }
  
  &__platform {
    display: flex;
    justify-content: center;
    align-items: center; 
    column-gap: rem(8);
    margin-bottom: rem(28); 
  }
  
  &__icon {

  }

  &__username {
    font-size: rem(12);
    font-weight: 700;
  }

  &__folowers {
    margin-bottom: rem(25);
  }
  
  &__count {
    margin-bottom: rem(5);
    font-weight: 700;
    letter-spacing: rem(-2);
    line-height: 1;
    color: var(--light-bg);

    &--big {
      font-size: rem(56);
    }
    &--small {
      font-size: rem(30);
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: rem(12);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: rem(5);
    color: var(--dark-text1);
  }

  &__change {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(4);
    font-size: rem(12);
    font-weight: 700;
    &--up {
      color: var(--limegreen);
    }

    &--down {
      color: var(--brightred);
    }
  }
}